<a href="https://colab.research.google.com/github/jessicamadridmejia/Cheat-Sheets/blob/master/2_Pandas_Cheat_Sheet_for_Data_Science_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

The Pandas library is built on NumPy and provides easy-to-use
data structures and data analysis tools for the Python
programming language.

In [0]:
# Use the following import convention:
import pandas as pd

## Pandas Data Structures

### Series
A one-dimensional labeled array capable of holding any data type.

In [0]:
s = pd.Series([3,-5,7,4], index=['a','b','c','d'])

In [3]:
s

a    3
b   -5
c    7
d    4
dtype: int64

### Data Frame
A two-dimensional labeled data structure with columns of potentially different types.

In [0]:
data = {'Country': ['Belgium', 'India', 'Brazil'],
        'Capital': ['Brussels', 'New Delhi', 'Brasília'],
        'Population': [11190846, 1303171035, 207847528]}

df = pd.DataFrame(data, columns=['Country','Capital','Population'])

In [5]:
df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528

## Asking for help

In [0]:
# help(pd.Series.loc)

## Selection

### Getting

In [7]:
# Get one element
s['b']

-5

In [8]:
# Get subset of a DataFrame
df[1:]

  Country    Capital  Population
1   India  New Delhi  1303171035
2  Brazil   Brasília   207847528

### Selecting, Boolean Indexing & Setting

#### By Position

In [9]:
# Select single value by row & column
df.iloc[[0],[0]]

   Country
0  Belgium

In [10]:
# Select single value by row & column
df.iat[0,0]

'Belgium'

#### By Position

In [11]:
# Select single value by row & column labels
df.loc[[0],['Country']]

   Country
0  Belgium

In [12]:
# Select single value by row & column labels
df.at[0,'Country']

'Belgium'

#### By Label/Position

In [13]:
# Select single row of subset of rows
df.ix[2]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Country          Brazil
Capital        Brasília
Population    207847528
Name: 2, dtype: object

In [14]:
# Select a single column of subset of columns
df.ix[:,'Capital']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

0     Brussels
1    New Delhi
2     Brasília
Name: Capital, dtype: object

In [15]:
# Select rows and columns
df.ix[1,'Capital']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'New Delhi'

#### Boolean Indexing

In [16]:
# Series s where value is not >1
s[~(s>1)]

b   -5
dtype: int64

In [17]:
# s where value is <-1 or >2
s[(s<-1) | (s>2)]

a    3
b   -5
c    7
d    4
dtype: int64

In [18]:
# Use filter to adjust DataFrame
df[(df['Population']>1200000000)]

  Country    Capital  Population
1   India  New Delhi  1303171035

#### Setting

In [19]:
# Set index a of Series s to 6
print(s)
s['a'] = 6
print(s)

a    3
b   -5
c    7
d    4
dtype: int64
a    6
b   -5
c    7
d    4
dtype: int64

## Dropping

In [20]:
# Drop values from rows (axis=0)
s.drop(['a','c'])

b   -5
d    4
dtype: int64

In [21]:
# Drop values from columns(axis=1)
df.drop('Country', axis=1)

     Capital  Population
0   Brussels    11190846
1  New Delhi  1303171035
2   Brasília   207847528

## Sort & Rank

In [22]:
# Sort by labels along an axis
df.sort_index()

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528

In [23]:
# Sort by the values along an axis
df.sort_values(by='Country')

   Country    Capital  Population
0  Belgium   Brussels    11190846
2   Brazil   Brasília   207847528
1    India  New Delhi  1303171035

In [24]:
# Assign ranks to entries
df.rank()

   Country  Capital  Population
0      1.0      2.0         1.0
1      3.0      3.0         3.0
2      2.0      1.0         2.0

## Retrieving Series/DataFrame Information

### Basic Information

In [25]:
# (rows,columns)
df.shape

(3, 3)

In [26]:
# Describe index
df.index

RangeIndex(start=0, stop=3, step=1)

In [27]:
# Describe DataFrame columns
df.columns

Index(['Country', 'Capital', 'Population'], dtype='object')

In [28]:
# Info on the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
Country       3 non-null object
Capital       3 non-null object
Population    3 non-null int64
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [29]:
# Number of non-NA values
df.count()

Country       3
Capital       3
Population    3
dtype: int64

### Summary

In [30]:
# Sum of values
df.sum()

Country              BelgiumIndiaBrazil
Capital       BrusselsNew DelhiBrasília
Population                   1522209409
dtype: object

In [31]:
# Cummulative sum of values
df.cumsum()

              Country                    Capital  Population
0             Belgium                   Brussels    11190846
1        BelgiumIndia          BrusselsNew Delhi  1314361881
2  BelgiumIndiaBrazil  BrusselsNew DelhiBrasília  1522209409

In [32]:
# Minimum values
df.min()

Country        Belgium
Capital       Brasília
Population    11190846
dtype: object

In [33]:
# Maximum values
df.max()

Country            India
Capital        New Delhi
Population    1303171035
dtype: object

In [0]:
# Minimum index value
#df.idxmin()

In [0]:
# Maximum index value
#df.idxmax()

In [36]:
# Summary statistics
df.describe()

         Population
count  3.000000e+00
mean   5.074031e+08
std    6.961346e+08
min    1.119085e+07
25%    1.095192e+08
50%    2.078475e+08
75%    7.555093e+08
max    1.303171e+09

In [37]:
# Mean of values
df.mean()

Population    5.074031e+08
dtype: float64

In [38]:
# Median of values
df.median()

Population    207847528.0
dtype: float64

## Applying Functions

In [0]:
f = lambda x: x*2

In [40]:
# Apply function
df.apply(f)

          Country             Capital  Population
0  BelgiumBelgium    BrusselsBrussels    22381692
1      IndiaIndia  New DelhiNew Delhi  2606342070
2    BrazilBrazil    BrasíliaBrasília   415695056

In [41]:
# Apply function element-wise
df.applymap(f)

          Country             Capital  Population
0  BelgiumBelgium    BrusselsBrussels    22381692
1      IndiaIndia  New DelhiNew Delhi  2606342070
2    BrazilBrazil    BrasíliaBrasília   415695056

## Data Alignment

### Internal Data Alignment
NA values are introduced in the indices that don’t overlap:

In [42]:
s3 = pd.Series([7,-2,3], index=['a','c','d'])
s+s3

a    13.0
b     NaN
c     5.0
d     7.0
dtype: float64

### Arithmetic Operations with Fill Methods
You can also do the internal data alignment yourself with the help of the fill methods:

In [43]:
s.add(s3, fill_value=0)

a    13.0
b    -5.0
c     5.0
d     7.0
dtype: float64

In [44]:
s.sub(s3, fill_value=2)

a   -1.0
b   -7.0
c    9.0
d    1.0
dtype: float64

In [45]:
s.div(s3, fill_value=4)

a    0.857143
b   -1.250000
c   -3.500000
d    1.333333
dtype: float64

In [46]:
s.mul(s3, fill_value=3)

a    42.0
b   -15.0
c   -14.0
d    12.0
dtype: float64

## I/O

### Read and Write to CSV

In [0]:
#pd.read_csv('file.csv', header=None, nrows=5)

In [0]:
df.to_csv('my_DataFrame.csv')

### Read and Write to Excel

In [0]:
#pd.read_excel('file.xlsx')

In [0]:
#df.to_excel('dir/my_DataFrame.xlsx', sheet_name='Sheet1')
df.to_excel('my_DataFrame.xlsx', sheet_name='Sheet1')

In [0]:
# Read multiple sheets from the same file
#xlsx = pd.ExcelFile('file.xlsx')
#df = pd.read_excel(xlsx,'Sheet1')

### Read and Write to SQL Query or Database Table

In [0]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:')

In [53]:
'''
pd.read_sql("SELECT * FROM my_table;", engine)
pd.read_sql_table('my_table', engine)
pd.read_sql_query("SELECT * FROM my_table;", engine)
'''

'\npd.read_sql("SELECT * FROM my_table;", engine)\npd.read_sql_table(\'my_table\', engine)\npd.read_sql_query("SELECT * FROM my_table;", engine)\n'

read_sql()is a convenience wrapper around read_sql_table() and
read_sql_query()

In [0]:
df.to_sql('myDf', engine)